<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <% if (book) { %>
        <%- include('partials/navigation.ejs') %>
        <div>
            <p>Title: <%= book.title %></p>
            <p>Publishing Year: <%= book.publishingYear %></p>
        </div>
    <% } else { %>
        <p>Book not found</p>
    <% } %>
</body>
</html>
